# --------------------( LICENSE                           )--------------------
# Copyright 2014-2019 by Alexis Pietak & Cecil Curry.
# See "LICENSE" for further details.
#
# --------------------( SYNOPSIS                          )--------------------
# List of all mandatory or optional runtime dependencies of this application to
# be installed by the "conda" package manager bundled with both the default
# Anaconda distribution and minimal Miniconda distribution.
#
# This file conforms to the "conda" rather than "setuptools" or "pip" file
# format for listing dependencies. The existing dependencies listed by the
# top-level "setup.py" script *CANNOT* be reused here by merely specifying ".".
#
# --------------------( EXAMPLES                          )--------------------
# To generate a sample file in this format describing all currently installed
# "conda" packages, run the following command:
#
#     $ conda list -e

# ....................{ DEPENDENCIES ~ runtime : mandatory}....................
# All mandatory and optional runtime dependencies of this application for which
# Anaconda packages are published by either the conda-forge channel (ideally)
# *OR* any of the official default channels.
#
# For simplicity, this list is a partial duplicate of the canonical
# conda-specific dependency list for this application specified by the
# YAML-formatted "requirements:/run:" list in the recipe at our official
# conda-forge feedstock: e.g.,
#
#     https://github.com/leycec/betse-feedstock/blob/master/recipe/meta.yaml
#
# Ideally, these two lists should be manually synchronized as much as feasible. 
# This list should be revised where necessary to reflect changes between the
# live and most recent stable versions of this application.
setuptools >=3.3
dill >=0.2.3
matplotlib >=1.5.0
numpy >=1.8.2
pillow >=2.3.0
pyyaml >=3.10
scipy >=0.12.0
six >=1.5.2

# ....................{ DEPENDENCIES ~ runtime : optional }....................
# All optional runtime dependencies of this application for which Anaconda
# packages are published by either the conda-forge channel (ideally) *OR* any
# of the official default channels.
#
# This list intentionally omits the following dependencies:
#
# * The optional "pyside2" dependency, which applies *ONLY* to interactive
#   environments.
graphviz >=2.38.0
networkx >=2.0
pydot >=1.0.28
ffmpeg
#pyside2

# ....................{ DEPENDENCIES ~ test : mandatory   }....................
# All mandatory test dependencies of this application, manually converted from
# the "betse.metadata.TESTTIME_MANDATORY" global.
pytest >=3.1.0
